<main class="container-fluid" id="contact">

  <div class="black-mask"></div>

  <div class="login-container">
    <h2> Drop Us A Line </h2>
    <%= form_for @message, url: create_message_url do |f| %>

    <%= notice %>
    <%= @message.errors.full_messages.join(', ') %>


    <div class="field">
      <%= f.text_field :name, placeholder: 'Name' %>
    </div>

    <div class="field">
      <%= f.email_field :email, placeholder: 'E-mail Address' %>
    </div>

    <div class="field">
      <%= f.text_area :body, placeholder: 'Message' %>
    </div>

    <div class="actions">
      <%= f.submit 'Send', class: 'btn' %>
    </div>
    <% end %>
  </div>

</main>
