<%= form_for [:admin,@feature], :html => { :class => "form-horizontal feature" } do |f| %>

  <% if @feature.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@feature.errors.count, "error") %> prohibited this feature from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @feature.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :identifier, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :identifier, disabled: true, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>

  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :description, rows: 6, :class => 'form-control' %>
    </div>
    <%=f.error_span(:description) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', admin_features_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>