<div class="page-header">
  <h1>Features</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Identifier</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @features.each do |feature| %>
      <tr>
        <td><%= link_to feature.name, edit_admin_feature_path(feature) %></td>
        <td><%= feature.identifier %></td>
        <td>
          <%= link_to 'Edit',
                      edit_admin_feature_path(feature), 
                      :class => 'btn btn-default btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
