<h2>Features</h2>

<% if @enabled_feature_identifiers.length %>
  <h3>Enabled Features</h3>
  <p>You currently have the following features enabled:</p>
  <ul>
    <% @features.each do |feature| %>
      <% if @enabled_feature_identifiers.include?(feature.identifier) %>
        <li><%= feature.name %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>

<% if @enabled_feature_identifiers.length < @features.length %>
  <h3> More Features</h3>
  <p>There are more features you can add! <%= link_to "Check them out!", features_path %></p>

  <ul>
    <% @features.each do |feature| %>
      <% unless @enabled_feature_identifiers.include?(feature.identifier) %>
        <li><%= feature.name %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>
