<section id="profileEdit" class="container">
  <h1>Edit Profile</h1>

  <div class="row dataFields">
    <div class="col-sm-12">
      <%= bootstrap_form_for @user, url: profile_path(@user) do |f| %>

      <%= f.text_field :first_name %>
      <%= f.text_field :last_name %>
      <%= f.text_field :company_name %>
      <%= f.text_field :contact_email %>
      <%= f.text_area :bio, rows: 5 %>

      <%= f.submit "Save" %>
      <% end %>
    </div>
  </div>
</section>
