<section id="profileView" class="container">
  <div class="row">
    <h1>
      <%= @user.full_name %>
      <% if @user.company_name.present? %>
        (<%= @user.company_name %>)
      <% end %>
    </h1>
    <% if can? :update, @user %>
      <button class="pull-right"><%= link_to 'Edit Profile', edit_profile_path(@user) %></button>
    <% end %>
  </div>
  <div class="row profileCloudOptions">
    <div class="col-md-6 col-xs-12">
      <% if current_user.google_token.blank? %>
        <i class="fae-google-drive"></i> <p><%= link_to "Connect Google Storage Account", google_drive_authorize_path %></p>
      <% else %>
        <i class="fae-google-drive"></i> <p>Google Drive Account Connected</p>
      <% end %>
    </div>
    <div class="col-md-6 col-xs-12">
      <% if current_user.dropbox_session.blank? %>
        <i class="fa fa-dropbox" aria-hidden="true"></i>  <p><%= link_to "Connect Dropbox Storage Account", dropbox_authorize_path %></p>
      <% else %>
        <i class="fa fa-dropbox" aria-hidden="true"></i>  <p>Dropbox Account Connected</p>
      <% end %>
    </div>
  </div>

  <div class="dataFields">
    <div class="profileLabel col-md-3 col-xs-12">
      First Name
    </div>
    <div class="col-md-9 col-xs-12">
      <%= present(@user.first_name, '-') %>
    </div>
    
    <div class="profileLabel col-md-3 col-xs-12">
      Last Name
    </div>
    <div class="col-md-9 col-xs-12">
      <%= present(@user.last_name, '-') %>
    </div>

    <div class="profileLabel col-md-3 col-xs-12">
      Company Name
    </div>
    <div class="col-md-9 col-xs-12">
      <%= present(@user.company_name, '-') %>
    </div>

    <div class="profileLabel col-md-3 col-xs-12">
      Email Address:
    </div>
    <div class="col-md-9 col-xs-12">
      <%= present(@user.email, '-') %>
    </div>

    <div class="profileLabel col-md-3 col-xs-12">
      Bio:
    </div>
    <div class="col-md-9 col-xs-12">
      <blockquote>
        <%= simple_format(present(@user.bio,'Bio not completed')) %>
      </blockquote>
    </div>

    <span class="clearfix"></span>
  </div>

  <% if current_user == @user %>
    <%= render 'features' %>
  <% end %>
</section>
