<div class="container-fluid" id="login">
  <div class="black-mask"></div>

  <div class="login-container">

    <h2>New Account</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.email_field :email, autofocus: true, placeholder: "Email Address" %>
    </div>

    <div class="field">
      <%  if @minimum_password_length %>
    <!--  <em>(<%=  @minimum_password_length %>   characters minimum) -->
      <%  end %>
      <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Re-Enter Password" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class:'btn' %>
    </div>
    <% end %>
  </div>
</div>
