<%= form_for [:admin,@feature_definition], :html => { :class => "form-horizontal feature_definition" } do |f| %>

  <% if @feature_definition.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@feature_definition.errors.count, "error") %> prohibited this feature definition from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @feature_definition.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>

  <div class="form-group">
    <%= f.label :feature, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select :feature_id, Feature.all, :id, :identifier, {prompt: true}, {:class => 'form-control'} %>
    </div>
    <%=f.error_span(:feature) %>
  </div>

  <div class="form-group">
    <%= f.label :price_per_day, 'Price Per Day (m¢)', :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :price_per_day, :class => 'form-control' %>
    </div>
    <%=f.error_span(:price_per_day) %>
  </div>

  <div class="form-group">
    <%= f.label :addition_price, 'Addition Price (m¢)', :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :addition_price, :class => 'form-control' %>
    </div>
    <%=f.error_span(:addition_price) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', admin_feature_definitions_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>