<div class="page-header">
  <h1>Feature Definitions</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Feature</th>
      <th>Price Per Day</th>
      <th>Addition Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @feature_definitions.each do |feature_definition| %>
      <tr>
        <td><%= link_to feature_definition.name, 
                        admin_feature_definition_path(feature_definition) %>
        </td>
        <td><%= feature_definition.feature.identifier %></td>
        <td><%= feature_definition.price_per_day %> m¢ (<%= number_to_currency(millicents_to_dollars(feature_definition.price_per_day), precision: 6 ) %>)</td>
        <td><%= feature_definition.addition_price %> m¢ (<%= number_to_currency(millicents_to_dollars(feature_definition.addition_price), precision: 6 ) %>)</td>
        <td>
          <%= link_to 'Show',
                      admin_feature_definition_path(feature_definition), 
                      :class => 'btn btn-default btn-xs' %>
          <%= link_to 'Edit',
                      edit_admin_feature_definition_path(feature_definition), 
                      :class => 'btn btn-default btn-xs' %>
          <%= link_to 'Destroy',
                      admin_feature_definition_path(feature_definition),
                      :method => :delete,
                      :data => { :confirm => 'Are you sure?' },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Feature Definition',
            new_admin_feature_definition_path,
            :class => 'btn btn-primary' %>
