<div class="page-header">
  <h1>Feature Definition</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Name:</strong></dt>
  <dd><%= @feature_definition.name %></dd>
  <dt><strong>Feature Identifier:</strong></dt>
  <dd><%= @feature_definition.feature.identifier %></dd>
  <dt><strong>Price Per Day (m¢):</strong></dt>
  <dd><%= @feature_definition.price_per_day %> (<%= number_to_currency(millicents_to_dollars(@feature_definition.price_per_day), precision: 6 ) %>)</dd>
  <dt><strong>Addition Price (m¢):</strong></dt>
  <dd><%= @feature_definition.addition_price %> (<%= number_to_currency(millicents_to_dollars(@feature_definition.addition_price), precision: 6 ) %>)</dd>
</dl>

<%= link_to 'Back',
            admin_feature_definitions_path, 
            :class => 'btn btn-default'  %>
<%= link_to 'Edit',
              edit_admin_feature_definition_path(@feature_definition),
              :class => 'btn btn-default' %>
<%= link_to 'Destroy',
              admin_feature_definition_path(@feature_definition),
              :method => 'delete',
              :data => { :confirm => 'Are you sure?' },
              :class => 'btn btn-danger' %>
