<main class="content" id="about">

  <div class="main-photo">

    <div class="col-xs-12 masthead-text">
<!--The Pages of Albumshare-->

      </div>

    </div>


    <article class="container features">

<div class="row">
<div class="col-md-12">
  <h1>Mission statement:</h1>
<p>  Albumshare is a brand with direction. Following an iterative approach to business, our goal is to encapsulate a sense of immortality for users. </p>

  London, Ontario, Canada

</div>

</div>


</article>







  </main>
