<main class="content" id="awesome">

  <div class="main-photo">

    <div class="col-xs-12 masthead-text">
  <h1>What makes Albumshare awesome?</h1>

      </div>

    </div>


    <article class="container features">

<div class="row">
<div class="col-md-12">

<p>
  Albumshare is designed for those who are looking at storing their photos, and selectively sharing groups, or individual photos. You will have the privacy to store your photos in a place that is kept independently of social networking sites.
<br /><br />
  Your life will be easier using this because you will have a centralized “homepage” for photo storage. We focus on building our software solutions easier for our customers to use, which is an area of focus that we emphasize with pride.
<br /><br />
  If you’re having a difficult time managing photos using your existing cloud storage systems. Then Albumshare is the right platform for you.
<br /><br />
  Why Canadian? We’re a small part of the world that’s often referred to as “America’s Hat’. But often overlooked are our engineering talents that have participated in leading innovation in Life Sciences, Technology, Oceanography and Aerospace.. </p>



</div>

</div>


</article>







  </main>
