<main class="content" id="cost">

  <div class="main-photo">

    <div class="col-xs-12 masthead-text">
<!--The Pages of Albumshare-->

      </div>

    </div>


    <article class="container features">

<div class="row">
<div class="col-md-12">
  <h1>How does Albumshare work?</h1>
<p>
Albumshare uses a unique subscription service which acts as a timer for your length of usage.
<br><br>
The “Time is Money” system, will charge our customers $2 per month, per feature. For the duration set as a maximum usage. Users that activate each feature initially charge you $2 for the first month. Following that period, should you decide to cancel before your next subscription is due, it will only charge the based on the amount of days following the next “month” anniversary.
<br><br>
Our goal is to allow our customers an experience that’s catered to their use. Photo software can easily get complicated; this is due to the amount of diversity needed for photo management. Albumshare can be customized individually for your use.
<br><br>
Albumshare is a photo management tool, tailored to your fit. </p>



</div>

</div>


</article>







  </main>
