<main class="content" id="frontpage">

    <div class="main-photo">

      <div class="col-xs-12 masthead-text">
        <h1>Share Your Photo Albums.
          Easily, Affordably, and Privately</h1>

        </div>
        <small>Photo by Gotham Studios</small>
      </div>


      <section class="container buttons">

      </section>

      <article class="container features">

  <div class="row">
  <div class="col-md-3 col-xs-6">
    <i class="fa fa-globe" aria-hidden="true"></i>
  Password Protected Albums
  </div>
  <div class="col-md-3 col-xs-6">
    <i class="fa fa-cloud" aria-hidden="true"></i>
  Combine Your Cloud Storage
  </div>
  <div class="col-md-3 col-xs-6">
    <i class="fa fa-picture-o" aria-hidden="true"></i>
  Watermark your images
  </div>
  <div class="col-md-3 col-xs-6">
    <i class="fa fa-share-alt" aria-hidden="true"></i>
  Share discussion through photo commenting
  </div>

  </div>


  </article>


  <article class="container-fluid secondaryPhoto">


  <div class="stage row">


  	<div id="SLDR-ONE" class="sldr">
  		<ul class="wrp animate">
  			<li class="elmnt-one"><div class="skew"><div class="wrap"><img class="sldr-load" src="<%= image_path('slides/slide1.jpg') %>" width="1000" height="563"></div></div></li>
  			<li class="elmnt-two"><div class="skew"><div class="wrap"><img class="sldr-load" src="<%= image_path('slides/slide2.jpg') %>" width="1000" height="563"></div></div></li>
  			<li class="elmnt-three"><div class="skew"><div class="wrap"><img class="sldr-load" src="<%= image_path('slides/slide3.jpg') %>" width="1000" height="563"></div></div></li>
  			<li class="elmnt-four"><div class="skew"><div class="wrap"><img class="sldr-load" src="<%= image_path('slides/slide4.jpg') %>" width="1000" height="563"></div></div></li>
        		<li class="elmnt-five"><div class="skew"><div class="wrap"><img class="sldr-load" src="<%= image_path('slides/slide5.jpg') %>" width="1000" height="563"></div></div></li>
            		<li class="elmnt-six"><div class="skew"><div class="wrap"><img class="sldr-load" src="<%= image_path('slides/slide6.jpg') %>" width="1000" height="563"></div></div></li>
                <li class="elmnt-six"><div class="skew"><div class="wrap"><img class="sldr-load" src="<%= image_path('slides/slide7.jpg') %>" width="1000" height="563"></div></div></li>
                <li class="elmnt-six"><div class="skew"><div class="wrap"><img class="sldr-load" src="<%= image_path('slides/slide8.jpg') %>" width="1000" height="563"></div></div></li>
  		</ul>
  	</div>

  	<div class="clear"></div>

  	<div class="captions">
  	 <div class="focalPoint"><p><small>Contributed by Ames Weddings</small></p></div>
  	 <div><p><small>Contributed by Ames Weddings</small></p></div>
  	 <div><p><small>Contributed by Gotham Studios</small></p></div>
  	 <div><p><small>Contributed by Gotham Studios</small></p></div>

     <div><p><small>Contributed by Gotham Studios</small></p></div>
     <div><p><small>Contributed by Gotham Studios</small></p></div>
     <div><p><small>Contributed by Ames Weddings</small></p></div>
     <div><p><small>Contributed by Ames Weddings</small></p></div>
  	</div>

  	<ul class="selectors">
  		<li class="focalPoint"><a href="">•</a></li><li><a href="">•</a></li><li><a href="">•</a></li><li><a href="">•</a></li>
      <li><a href="">•</a></li><li><a href="">•</a></li><li><a href="">•</a></li><li><a href="">•</a></li>
  	</ul>

  	<button class="sldr-prv sldr-nav prev">Prev</button>
  	<button class="sldr-nxt sldr-nav next">Next</button>


  	<div class="clear"></div>

  </div>


<script>
$( window ).load( function() {
	$( '.sldr' ).each( function() {
		var th = $( this );
		th.sldr({
			focalClass    : 'focalPoint',
			offset        : th.width() / 2,
			sldrWidth     : 'responsive',
			nextSlide     : th.nextAll( '.sldr-nav.next:first' ),
			previousSlide : th.nextAll( '.sldr-nav.prev:first' ),
			selectors     : th.nextAll( '.selectors:first' ).find( 'li' ),
			toggle        : th.nextAll( '.captions:first' ).find( 'div' ),
			sldrInit      : sliderInit,
			sldrStart     : slideStart,
			sldrComplete  : slideComplete,
			sldrLoaded    : sliderLoaded,
			sldrAuto      : true,
			sldrTime      : 5000,
			hasChange     : true
		});
	});
});
/**
 * Sldr Callbacks
 */
/**
 * When the sldr is initiated, before the DOM is manipulated
 * @param {object} args the slides, callback, and config of the slider
 * @return null
 */
function sliderInit( args ) {
}
/**
 * When individual slides are loaded
 * @param {object} args the slides, callback, and config of the slider
 * @return null
 */
function slideLoaded( args ) {
}
/**
 * When the full slider is loaded, after the DOM is manipulated
 * @param {object} args the slides, callback, and config of the slider
 * @return null
 */
function sliderLoaded( args ) {
}
/**
 * Before the slides change focal points
 * @param {object} args the slides, callback, and config of the slider
 * @return null
 */
function slideStart( args ) {
}
/**
 * After the slides are done changing focal points
 * @param {object} args the slides, callback, and config of the slider
 * @return null
 */
function slideComplete( args ) {
}
</script>
</article>


</main>
