<div class="container">

<div class="panel panel-default">
  <!-- <div class="row"> -->
     <div class="panel-body">
      <%= form_tag customer_path, id: 'payment-form', method: 'patch', :class => 'form-inline' do %>
        <div class="">
          <label for="card-element">Credit card</label>
          <div id="card-element"></div>
          <div id="card-errors"></div>
        </div>
        <button class="btn btn-success" style="margin: 31px 12px 0 0">Submit Card Info</button>
      <% end %>
    </div>
  <!-- </div> -->
</div>
</div>