<% if @stripe_customer %>
  <p>
    You are currently authorizing Altama to bill your credit card.
    Your card details are securely stored at the credit card processor and we cannot retrieve the card details.
  </p>
  <p>You can:</p>
  <%= link_to 'Manage your features', 
              features_path, 
              :class => 'btn btn-success' %>
  <%= link_to 'Change the credit card you have on file', 
              edit_customer_path, 
              :class => 'btn btn-default' %>
  <%= link_to 'Remove the credit card you have on file', 
              customer_path, 
              :method => :delete,
              :data => { :confirm => 'Are you sure?' },
              :class => 'btn btn-danger' %>
<% else %>
  <p>You have not authorized Altama to bill your credit card.</p>
  <%= link_to 'Connect a credit card to your account', 
              edit_customer_path, 
              :class => 'btn btn-block btn-success' %>
<% end %>
