<h2><%= @cloud_storage.title %></h2>

<div id="grid">
  <% if !@cloud_storage.photos.empty? %>
    <% @cloud_storage.photos.each do |thumb, full| %>
      <div class="grid-item">
        <%= link_to image_tag(thumb), full %>
      </div>
    <% end %>
  <% else %>
    <p>This gallery is empty</p>
  <% end %>
</div>

<script>
  var $container = $('#grid');

  $container.imagesLoaded(function(){
    $container.masonry({
      itemSelector: '.grid-item',
      easing: 'linear',
      percentPosition: true,
      stagger: 30,
      resize: true,
      columnWidth: 5,
    });
  });
</script>
