<% shared = @user.albums.shared.where(google_drive_file_id: album.id).first %>
<li>
  <% if shared %><strong><% end %><%= album.name %><% if shared %></strong><% end %> -
  <% if shared %>
    <%= link_to "unshare", album_path(shared), method: :delete %>
    (<%= link_to album_url(shared), album_url(shared) %>)
  <% else %>
    <%= link_to "share", share_albums_path(id: album.id, type: 'google_drive'), method: :post %>
  <% end %>
</li>
