<!--<div id="loadscreen">Loading, Please Stand By</div>-->
<section id="album-container">

<div id="albums">
    <div style="background:#f9eff2;width:310px;padding:10px;">
      <div>
        <img src="<%= image_path('logo-100px.png') %>" />
        <h1 class="bold"><%= @user.company_name %></h1>
        <p style="font-size:16px;">Freelance Landscape Photographer</p>
        <div style="float:left;"><img src="<%= image_path('subscription-goldCircle') %>"/></div>
        <p style="font-size:16px;">Gold Circle Subscriber</p>
      </div>

      <h2>Albums</h2>
      <div class="albums">

        <% if !@cloud_storage.albums.empty? %>
          <% @cloud_storage.albums.each do |identifier, type| %>          
            <table>
              <tr>
                <td>
                  <div class="albumName" style="width:125px;">
                    <%= link_to identifier.split('/').last, album_select_path(identifier: identifier, type: type), :remote=>'true' %>
                  </div>
                </td>
                <td>
                  <div class="buttons">
                    <i class="icon_public"></i>
                    <i class="icon_share"></i>
                    <i class="icon_enhance"></i>
                    <i class="icon_traceability disabled"></i>
                    <i class="icon_comments disabled"></i>
                    <i class="icon_delete"></i>
                  </div>
                </td>
              </tr>
            </table>
          <% end %>
        <% end %>

      </div>
    </div>

    <div id="album">
      <%=render :partial=>'album_select'%>
    </div>  
  </div>
</section>
