<div class="container-fluid" id="login">
  <div class="black-mask"></div>

  <div class="login-container">
    <h2>Log in</h2>


    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">

      <%= f.email_field :email, autofocus: true, placeholder:"Email" %>
    </div>

    <div class="field">

      <%= f.password_field :password, autocomplete: "off",  placeholder:"Password"  %>
    </div>

    <% if devise_mapping.rememberable? -%>
    <div class="field remember">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in", class:'btn' %>
    </div>
    <% end %>

  <span>OR</span>

    <div class="other-logins">
        <%= link_to "Login with Google", user_google_oauth2_omniauth_authorize_path, class: 'google-login' %>
    </div>
  </div>

</div>
