<h1>Admin Homepage</h1>

<div class="row">
  <div class="col-md-6">
    <h2>Management</h2>
    <%= link_to "Manage Users", 
                admin_users_path, 
                :class => 'btn btn-default btn-lg btn-block' %>
  </div>
  <div class="col-md-6">
    <h2>Feature Management</h2>
    <%= link_to "Manage Features", 
                admin_features_path, 
                :class => 'btn btn-default btn-lg btn-block' %>    
    <%= link_to "Manage Feature Definitions", 
                admin_feature_definitions_path, 
                :class => 'btn btn-default btn-lg btn-block' %>
  </div>
</div>


