@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Istok+Web:400,400i,700');

// $bodyText:  'Montserrat', sans-serif;
$bodyText:  'Roboto', sans-serif;
$headerText: 'Istok Web', serif;

$mainBlue: #215b6d;
$darkGrey: #292929;
$lightGrey: #4c4c4c;
$reallyLightGrey: #b2b2b2;
$disabledBlue: #8ea3a5;
$albumButtonOff: #eb715f;
$offWhite: #ffefe3;

$google: #4285f4;

$peach: #ec7261;
$orange:#fcbf90;
$purple: #461930;
$blue: #10515e;


@font-face {
  font-family: 'icomoon';
  src:  url(font-path('icomoon.eot'));
  src:  url(font-path('icomoon.eot')) format('embedded-opentype'),
  url(font-path('icomoon.ttf')) format('truetype'),
  url(font-path('icomoon.woff')) format('woff'),
  url(font-path('icomoon.svg') + "#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "font-awesome-extension";
  src:url(font-path('font-awesome-extension.eot'));
  src:url(font-path('font-awesome-extension.eot')) format('embedded-opentype'),
  url(font-path('font-awesome-extension.woff')) format("woff"),
  url(font-path('font-awesome-extension.ttf')) format("truetype"),
  url(font-path('font-awesome-extension.svg#font-awesome-extension')) format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "font-awesome-extension" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="fae-"]:before,
[class*=" fae-"]:before {
  font-family: "font-awesome-extension" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: -15%;
}



[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@mixin flex(){
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin input($width){
  padding: 1em;
  width: $width;
  border: 0px;
  font-size: 1.2em;
}

@mixin fadeAnimation($time){
  -webkit-transition: all $time ease-in-out $time;
  -moz-transition: all $time ease-in-out $time;
  -o-transition: all $time ease-in-out $time;
  transition: all $time ease-in-out $time;
}

@mixin transition($time){
  -webkit-transition-duration: $time;
  -moz-transition-duration: $time;
  -o-transition-duration: $time;
  transition-duration: $time;
}

@mixin dropDown(){
  background-image: url(image_path('button-dropDown.png'));
  border-width: 0px;
  border-style: none;
  border-color: transparent;
  border-image: none;
  background-color:transparent;
  width: 14px;
  height: 9px;
  padding: 0px;
  background-repeat: no-repeat;
  margin-top: 7px;
  margin-right: 8px;
}

@mixin adminTools-gradient($direction){
  background: #e5e5e5; /* Old browsers */
  background: -moz-linear-gradient($direction, rgba(229, 229, 229, 0.8) 8%, rgba(175, 220, 255, 0.8) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient($direction, rgba(229, 229, 229, 0.8) 8%, rgba(175, 220, 255, 0.8) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient($direction, rgba(229, 229, 229, 0.8) 8%, rgba(175, 220, 255, 0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#afdcff',GradientType=0 ); /* IE6-9 */
}

@mixin icon-params($fileName){
  background-image: url(image_path($fileName));
  margin: 2px 2px 2px;
  height: 20px;
  min-width: 21px;
  float:left;
  display:block;
  border-radius:2px;
  background-color:$albumButtonOff;
  background-repeat:no-repeat;
  color:$offWhite;
  font-size: 19px;
  font-weight: 800;
  line-height: 21px;
  &.icon_upvote, &.icon_downvote, &.icon_comments{
    padding-left: 20px;
    padding-right: 8px;
    padding-top: 0px;
  }
  &.disabled{
    background-color: $disabledBlue;
  }
  &:hover{
    color:white;
    text-decoration:none;
  }
}

@mixin navUnderline($color,$time){
  &:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 9px;
    left: 0;
    background-color: $color;
    visibility: hidden;
    -webkit-transition: all $time ease-in-out 0s;
    -moz-transition: all $time ease-in-out 0s;
    -o-transition: all $time ease-in-out 0s;
    transition: all $time ease-in-out 0s;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
  }
  &:hover{
    &:before{
      visibility: visible;
      -webkit-transform: scaleX(1);
      -moz-transform: scaleX(1);
      -o-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
  position: relative;
  text-decoration: none;
  display: inline-block;
}

@mixin button($color, $hoverColor, $time) {
  background-color: $color;
  padding: 1em;
  color: $darkGrey;
  font-weight: 800;
  font-size: 1.2em;
  text-decoration:none;
  a{
    color:$darkGrey;
    text-decoration:none;
  }
  -webkit-transition: all $time ease-in-out 0s;
  -moz-transition: all $time ease-in-out 0s;
  -o-transition: all $time ease-in-out 0s;
  transition: all $time ease-in-out 0s;
  border-radius:0px;
  &:hover{
    background-color:$hoverColor;
    -webkit-transition: all $time ease-in-out 0s;
    -moz-transition: all $time ease-in-out 0s;
    -o-transition: all $time ease-in-out 0s;
    transition: all $time ease-in-out 0s;
    cursor:pointer;
  }
}


@mixin checkbox(){

  /* Base for label styling */
  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
  }
  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 3.15em;
    cursor: pointer;
    padding-top: 0.5em;
    font-size: 1.3em;
    margin-top: 0.4em;
    margin-bottom: 0.6em;
    color:white;
  }

  /* checkbox aspect */
  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 2.25em; height: 2.25em;
    border: 2px solid #ccc;
    background: #fff;
    border-radius: 1px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
  }
  /* checked mark aspect */
  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after {
    content: '✔';
    position: absolute;
    top: .1em; left: 0.1em;
    font-size: 2.3em;
    line-height: 0.8;
    color: #09ad7e;
    transition: all .2s;
  }
  /* checked mark aspect changes */
  [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }
  [type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }
  /* disabled checkbox */
  [type="checkbox"]:disabled:not(:checked) + label:before,
  [type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
  }
  [type="checkbox"]:disabled:checked + label:after {
    color: #999;
  }
  [type="checkbox"]:disabled + label {
    color: #aaa;
  }
  /* accessibility */
  [type="checkbox"]:checked:focus + label:before,
  [type="checkbox"]:not(:checked):focus + label:before {
    border: 2px dotted blue;
  }

  /* hover style just for information */
  label:hover:before {
    border: 2px solid #4778d9!important;
  }



}
