@import 'mixins';
html,body{
  height:100%;
}
:focus{
  outline: none !important;
}

body{

  background: white;
  background-size:cover;
  background-attachment:fixed;
  font-family:  $bodyText;
}

button{
  border-width: 0px;
  border-style: none;
  border-color: transparent;
  border-image: none;
}

h1{
  font-family: $headerText;
  color:$purple;
  .bold{
    font-weight:700;
  }
}
h2{
  font-family: $bodyText;
  font-size: 30px;
  text-transform: uppercase;
  color:$mainBlue;
  margin-bottom: 6px;
  font-weight: 700;
}


h3{
  font-family: $headerText;
  color:black;
  line-height: 1.2em;
  span.light{
    color:$darkGrey;
    font-family:  $headerText;
    font-style:italic;
    font-size: 0.8em;
  }
  &.companyName{
    display:none;
  }
}
h6{
  font-size:20px;

  color:$reallyLightGrey;
  text-align: center;
  margin-bottom: 1.5em;
}
.buyMe{
  color:$darkGrey;
  font-style:italic;
}
small{
  font-family:  $bodyText;
}

i.icon-canada:before {
  content: "\e900";
}


hr{
  margin-top: 10px;
  margin-bottom: 5px;
  border: 0;
  border-top: 1px solid $mainBlue;

}

header{
  width: 100%;
  z-index: 10000;
  nav.navbar{
    padding-top: 0.5em;
    background-color:transparent;
    border: none;
    .navbar-collapse{
      text-align:center;
    }
    ul.navbar-nav{
      margin: 0px auto;
      display: inline-block;
      float: none;
      li{
        a{
          color:$blue;
          font-size: 1.3em;
          &:not(.register){
            &:not(.login){
              @include navUnderline($purple,0.2s);
              &:hover{
                color:$purple;
              }
            }
          }
        }
      }
      .register{
        @include button($orange, $peach,0.2s);
      }
    }

    .navbar-header{
      a.navbar-brand{
        padding: 10px 10px;
        font-size: 24px;
        font-family:  $headerText;
        color:$blue;
        &:before{
          background-color:transparent;
        }
        &:hover{
          text-decoration:none;
          background-color:transparent;
          &:before{
            background-color:transparent;
          }
        }
        img{
          height: 40px;
          padding-right: 10px;
          display:inline-block;
        }
        @media (min-width: 768px){
          margin-left:0px;
        }
      }
      margin-right: 1em;
    }
  }
}

input{
  @include input(30%);
}

footer{
  background-color: $darkGrey;
  width: 100%;
  color:$lightGrey;
  padding: 3em 0px 0px 0px;

  h6.newsletter{
    text-align:left;
  }
  .row:first-child{
    padding-bottom: 3em;
  }
  ul{
    list-style: none;
    li{
      line-height: 2em;
    }
  }
  ul.social{
    li{
      display:inline-block;
      font-size: 3em;
      margin: 0.4em;
    }
  }

  button{

    @include button($peach, $orange, 0.2s);

  }
  .bottom-footer{
    background-color: rgba(0,0,0,0.1);
    @include flex();
    .bottommost-nav{
      a,span{
        padding: 0em 2em 0em 0em;
        &:after{
          content:' | ';
          margin-left:1em;
        }
        &:hover{
          &:after{
            color:$lightGrey;
            cursor:default;
          }
        }
      }
    }


  }
  a{
    color:$lightGrey;
    @include transition(0.2s);
    &:hover{
      color:$peach;
      text-decoration:none;
      @include transition(0.2s);
    }
  }
  .canada{
    text-align: center;
    line-height: 0.7em;
    display:block;
    width: 10em;

    @include transition(0.2s);
    &:hover{
      i,small{
        color:$peach;
        @include transition(0.2s);
      }
    }
    i{
      font-size: 3em;
      margin: 0.2em;
      display:block;
    }
  }
  .trademark{
    margin: 15px 0px;
    text-align: left;
    margin-top: 1em;
    font-weight: 800;
  }
  .quote{
    text-align:right;
    h3{
      font-size:1em;
      color:$lightGrey;
    }
    span.light{
      color:$orange;
    }
  }
  .footer-navigation{

    &:before{
      content: '';
      min-height: 42vh;
      height: auto;
      display: inline-block;
      float: left;
      margin-left: -2em;
      border-left:2px solid $lightGrey;
    }
  }
}


main.content {
  &#about{
    .main-photo{
      background-image: url(image_path('about.jpg'));
      background-position-y: -32em;
    }

  }
  &#cost{
    .main-photo{
      background-image: url(image_path('cost.jpg'));
        background-position-y: -16em;
    }
}
&#awesome{
  .main-photo{
    background-image: url(image_path('awesome.jpg'));
      background-position-y: -12em;
  }
}
  &#frontpage .main-photo{
    background-image: url(image_path('photo-homepage-01.jpg'));
    article.features{
      padding: 12em 0em;
    }
  }
  .main-photo{
    position:relative;
    background-size:cover;
    @include flex();
    min-height: 600px;
    padding: 4em 0em;
    .masthead-text{
      text-align: center;
      max-width: 60%;
    }
    small{
      position: absolute;
      right: 10px;
      color: white;
      bottom: 10px;
    }

    h1{
      color:white;
      display:block;
      font-size: 6em;
    }
  }
  article.features{
    padding: 2em 0em;
    strong{
      font-size:1.4em;
    }
    i{
      display: block;
      font-size: 7em;
      margin: 0.3em;
      color:$mainBlue;
    }
    div{
      text-align:center;
    }
    ul{
      padding-left: 0px;
      li{
        font-size: 1.4em;
        list-style-type: none;
        margin-left: 0px;
        line-height:1.3em;
      }
    }
  }
}

section#album-header{
  padding:1em;
}

section#album-container
{
  margin-bottom: 100px;
  //  padding: 50px 10px;
}

.icon_public{
  @include icon-params('icon_public.png');
}
.icon_comments{
  @include icon-params('icon_comments.png');
}
.icon_delete{
  @include icon-params('icon_delete.png');
}
.icon_enhance{
  @include icon-params('icon_enhance.png');
}
.icon_share{
  @include icon-params('icon_share.png');
}
.icon_traceability{
  @include icon-params('icon_traceability.png');
}
.icon_upvote{
  @include icon-params('icon_upvote.png');
}
.icon_downvote{
  @include icon-params('icon_downvote.png');
}


#grid{
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  .grid-item {
    float:left;
    opacity:1;
    display:inline-block;
    position:relative;
    width:24%;
    float:left;margin:2px;
    background:#CCC;

    .hotspot{
      display: flex;
      flex-direction: row;
      flex: 1;
      justify-content: flex-start; /* align items in Main Axis */
      align-items: stretch; /* align items in Cross Axis */
      align-content: stretch; /* Extra space in Cross Axis */

      order:2;
      width: 101%;
      height: 100%;
      position: absolute;
      top: 0px;
      @include fadeAnimation(0.2s);
      &:hover{
        background-color: rgba(255,255,255,0.5);
        content:'double click to expand';
        @include fadeAnimation(0.2s);
        cursor: pointer;
      }
    }

    .admin-overlay{
      width: 100.5%;
      height: 100%;
      opacity:0;
      display: inline-block;
      position:absolute;
      top:0px;
      left:0px;
      @include transition(0.5s);
      display: flex;
      flex-direction: column;

      justify-content: flex-start; /* align items in Main Axis */
      align-items: stretch; /* align items in Cross Axis */
      align-content: stretch; /* Extra space in Cross Axis */

      height: 100%;

      &:hover{
        opacity:1;
        @include transition(0.5s);
      }
      .hotspot{
        display: flex;
        flex-direction: row;
        flex: 1;
        justify-content: flex-start; /* align items in Main Axis */
        align-items: stretch; /* align items in Cross Axis */
        align-content: stretch; /* Extra space in Cross Axis */
        height: auto;
        position: relative;


        order:2;
        width: 100%;
        //height: 83.6%;
        &:hover{
          background-color: rgba(255,255,255,0.5);
          content:'double click to expand';
        }
      }
      .admin-header, .admin-footer{
        height: 2.6em;
        width:100%;
        padding: 5px 0px;
        &.admin-header{
          align-self: flex-start;
          order:1;
          top:0px;
          .filename{
            font-size: 19px;
            color: $mainBlue;
          }
          a{
            float:right;
          }
          @include adminTools-gradient(bottom);
        }
        &.admin-footer{
          order:3;
          align-self: flex-end;
          bottom:0px;
          @include adminTools-gradient(top);
        }
        div{
          padding:0px 5px;
        }
        a{
          float:right;
        }
        .icon_upvote,.icon_downvote{
          float:left;
        }
      }

      a.photo-link{
        display: block;
        height: 100%;
        width: 100%;

        cursor: pointer;
      }
    }
    img{
      width: 100.4%;
      height: auto;
    }
    .columnWidth{
      width:20%;
    }

    &.portrait{
      .modal-dialog{
        margin: -30px auto 0px auto;
        .modal-content{
          height: 100vh;
          border-radius: 0;
          background-color:$darkGrey;
          .modal-body{
            text-align: center;
            height:100%;
            img{
              height:100%;
              margin: 0px auto;
              width:auto;
            }
          }
        }
      }
    }
    &.landscape{
      .modal-dialog{
        margin: -30px auto 0px auto;
        .modal-content{
          background-color:$darkGrey;
          border-radius: 0;
          height: 100vh;
          .modal-body{
            width:100%;
            img{
              width: 90%;
              height: auto;
              margin: 0px auto;
            }
          }
        }
      }
    }
    .modal{
      margin: 0;
      margin-right: auto;
      margin-left: auto;
      width: 100%;
      padding-right:0px !important;
      &:before{
        content:none;


      }
      .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
        width: 100%;
        margin: 0px;
        border-radius:0px;
        .modal-content{
          button.close{
            position: absolute;
            z-index: 10000;
            right: 9px;
            top: 7px;
            font-size: 40px;
            color:$orange;
            opacity:1;
            @include transition(0.3s);
            &:hover{
              color:$peach;
              opacity:1;
              @include transition(0.3s);
            }
          }
          .modal-body{
            img{

            }
          }
        }
      }

    }

  }

}


#albums{
  background-color:white;
  position: relative;
  display: block;
  padding-bottom:100px;
  #panels{
    position:relative;
    margin-top: 3em;
  }
  .panelButtons{
    clear: both;
    display: table;
  }
  #toggle{
    position:absolute;
    z-index:1000;
    width: 300px;
    border-radius:0px;
    &:before{
      content:"Details Panel";
    }
    &.minimize{
      content:"";
      &:before{
        content:'Minimize Details';
      }

    }
  }
  #panel-leftCSS{
    position:absolute;
    width: 389px;
    height: 160vh;
    left: -389px;
    top:0px;
    z-index: 1000;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffefe3+0,fadbd7+33,c7d6da+66,d1c5cb+100 */
    background: #ffefe3; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffefe3 0%, #fadbd7 33%, #c7d6da 66%, #d1c5cb 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffefe3 0%,#fadbd7 33%,#c7d6da 66%,#d1c5cb 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffefe3 0%,#fadbd7 33%,#c7d6da 66%,#d1c5cb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffefe3', endColorstr='#d1c5cb',GradientType=0 ); /* IE6-9 */
    @include transition(0.3s);
    padding:10px;
    padding-top: 32px;
    .col-xs-12{
      padding: 0px;
    }


    &.on{
      left:0px;
    }
    h2{
      float: left;
      font-family: "Roboto", sans-serif;
      font-size: 28px;
      text-transform: uppercase;
      color: #215b6d;
      margin-bottom: 5px;
      font-weight: 700;
      margin-top: 18px;
      margin-left: 7px;
      letter-spacing: 4px;
    }
    .panel-details{
      width: 31.5vh;
      float:right;
      display:inline-block;
      h1{
        margin-top: 0px;
        margin-bottom: 2px;
      }

      h3{
        font-size: 1.9vh;
        line-height: 0.3em;
        margin-top:0px;
        color:$mainBlue;
        display:inline-block;
        &.subscriber{
          font-size: 2vh;
          font-weight:700;
          margin-left: 3px;
          line-height: 24px;
        }
      }
      .subscriptionLevel{
        i.subscribeType{
          img{
            margin-top: -6px;
          }
        }
        button.subDropDown{
          float:right;
          @include dropDown();
        }
      }
    }

    .panel-logo{
      float:left;
      display:inline-block;
      img{
        width: 6.5vh;
      }
    }
    .addAlbum{
      float: left;
      width: 1.6em;
      height: 1.6em;
      top: 22px;
      position: relative;
      background-color: #215b6d;
      @include flex();
      left: 5px;
      border-radius:2px;

      .disabled{
        background-color: $disabledBlue;
      }

      &:before{
        content: '+';
        font-size: 1.3em;
        max-width: 50%;
        color: white;
        margin-left: -6px;
        margin-top: -2px;
      }
    }
    .albums{
      float: right;
      width: 99%;
      .albumName{
        padding: 2px 8px;
        font-size: 1.2em;
        color: white;
        border-radius: 2px;
        margin-top: 3px;
        margin-bottom: 3px;
        background-color: #215b6d;
        cursor: pointer;
        @include transition(0.3s);
        overflow: hidden;
        font-family: $bodyText;
        &:hover{

        }
        &.active{

        }

        .buttons{
          position: relative;
          display: block;
          float: right;

        }

      }

      .albumDetails{
        background-color:white;
        color:black;
        margin-left: 30px;
        overflow:hidden;
        @include transition(0.3s);
        -webkit-transition: max-height 0.3s;
        -moz-transition: max-height 0.3s;
        transition: max-height 0.3s;
        max-height:0;
        &.maximize{
          overflow:visible;

          -webkit-transition: max-height 0.3s;
          -moz-transition: max-height 0.3s;
          transition: max-height 0.3s;
          max-height:150px;
        }
      }
    }
    .fileDetails{
      input{
        height: 3em;
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
      }


    }
  }
  #panel-rightCSS{
    position: absolute;
    padding: 10px;
    width: 100%;
    right: 0px;
    top: 0px;
    @include transition(0.3s);
    .modal {
      text-align: center;
    }



    &.view1{
      @include transition(0.3s);
      width:80%;
    }
    h2{
      font-size:1.4em;
      margin-top:10px;
      font-size: 2.2em;
      font-weight:700;
    }
    @media screen and (min-width: 768px) {
      .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";

      }
    }
  }

  .panel-left {
    flex: 0 0 auto;
    /* only manually resize */
    padding: 10px;
    width: 300px;
    min-height: 200px;
    min-width: 150px;
    white-space: nowrap;
    background: #838383;
    color: white;
  }


  .gal-container{
    padding: 12px;
  }
  .gal-item{
    overflow: hidden;
    padding: 3px;
    .box{
      height: 250px;
      overflow: hidden;
      -webkit-user-select: none; /* Chrome/Safari */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+ */
      -o-user-select: none;
      user-select: none;
      img{
        height: 100%;
        width: 100%;
        object-fit:cover;
        -o-object-fit:cover;
      }
    }
    a{
      cursor:pointer;
      &:focus{
        outline: none;
      }
      &:after{
        content:" ";
        position: absolute;
        right: 3px;
        left: 3px;
        top: 3px;
        bottom: 3px;
        text-align: center;
        line-height: 350px;
        font-size: 30px;
        color: #fff;
        -webkit-transition: all 0.2s ease-in-out 0s;
        -moz-transition: all 0.2s ease-in-out 0s;
        transition: all 0.2s ease-in-out 0s;

      }
      &.on:after{
        border:9px solid black;
      }
      &.on:hover:after{
        border:9px solid black;
      }
      &:active:after{
        border:9px solid black;
      }
      &:hover:after{
        border:5px solid white;
        -webkit-transition: all 0.2s ease-in-out 0s;
        -moz-transition: all 0.2s ease-in-out 0s;
        transition: all 0.2s ease-in-out 0s;
      }
    }
  }


  .modal-open .gal-container .modal{
    background-color: rgba(0,0,0,0.4);
  }
  .modal-open .gal-item .modal-body{
    padding: 0px;
  }
  .modal-open .gal-item button.close{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #000;
    opacity: 1;
    color: #fff;
    z-index: 999;
    right: -12px;
    top: -12px;
    border-radius: 50%;
    font-size: 15px;
    border: 2px solid #fff;
    line-height: 25px;
    -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
  }
  .modal-open .gal-item button.close:focus{
    outline: none;
  }
  .modal-open .gal-item button.close span{
    position: relative;
    top: -3px;
    font-weight: lighter;
    text-shadow:none;
  }
  .gal-container .modal-dialogue{
    width: 80%;
  }
  .gal-container .description{
    position: relative;
    height: 40px;
    top: -40px;
    padding: 10px 25px;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    text-align: left;
  }
  .gal-container .description h4{
    margin:0px;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
  }
  .gal-container .modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 100px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  .gal-container .modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
    opacity: 1;
  }
  @media (min-width: 768px) {
    .gal-container .modal-dialog {
      width: 55%;
      margin: 50 auto;
    }
  }
  @media (max-width: 768px) {
    .gal-container .modal-content{
      height:250px;
    }
  }
  /* Footer Style */
  i.red{
    color:#BC0213;
  }
  .gal-container{
    padding-top :75px;
    padding-bottom:75px;
  }

}

#error_explanation{
  h2{
    font-size:1.1em;
    color:$peach;
  }
  ul{
    padding: 0;
    list-style:none;
    li{
      color:$peach;
    }
  }
}
input.btn{
  @include button($peach, $orange, 0.2s);
}

#login, #registration, #contact{
  @at-root #login{
    background-image: url(image_path('login-background.jpg'));
    background-position-y: -32em;
  }
  @at-root #contact{
    background-image: url(image_path('contact-background.jpg'));
    background-position-y: -45em;
  }

  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;

  z-index: -5;
  .new_message{
    color:white;
  }
  .field{
    input,textarea{
      color:#333;
    }
  }
  .black-mask{
    background-color: rgba(0,0,0,0.3);
    height: 90vh;
    width: 101%;
    margin-left: -15px;
    margin-right: 4px;
    position: absolute;
    z-index: 0;
  }
  h2{
    color:$orange;
  }
  @include flex();
  .login-container, .register-container{
    width: 24em;
    margin: 0px auto;
    background-color: $lightGrey;
    text-align: center;
    padding: 1.8em 3em 3em 3em;
    z-index: 5;
    h2{
      margin-top: 0px;
    }
    span{
      color:white;
      margin-top:0.7em;
      display:block;
    }
    .other-logins{
      text-align:center;
      width:100%;
      text-align: center;
      display: block;
      margin-top: 2em;

      .google-login{
        padding:1em;
        background-color:$google;
        color:white;
        text-decoration:none;
        &:before{
          font-family: FontAwesome;
          content:'\f0d5';
          margin-right: 1em;
        }
      }
    }
    @include checkbox();
    input,textarea{
      @include input(100%);
      margin: 0.6em 0em;

    }
    .remember{
      text-align:left;
    }
  }
}

#loadscreen{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #292929;
  z-index: 9999;
  top: 0px;
  left: 0px;
  color: $lightGrey;
  text-align: center;
  font-size: 3em;
  padding: 10%;
  @include transition(0.5s);
  &.loaded{
    opacity:0;
    display:none;
    @include transition(0.5s);
  }
}


#profileView, #profileEdit{
  button{
    @include button($orange, $peach,0.2s);
  }
  .profileCloudOptions{
    padding: 1em 0em;
    i{
      float:left;
      font-size:4em;
      &.fa-dropbox{
        margin-top: 8px;
      }
    }

    p{
      font-size: 2em;
      float: left;
      padding: 0.6em 0.3em;
    }
  }
  .dataFields{
    font-size: 1.5em;
    color:$lightGrey;
    padding: 1em 0em 2em 0em;
    height:auto;
    div{
      margin-bottom: 0.7em;
    }
    input.btn{
      float:right;
      padding: 0.5em;
    }
  }
}

.content{

  h1{
    font-size: 63px;
    text-align:left;
  }
  p{
  font-size: 18px;
    text-align:left;

  }
}
