<h1>Manage Users</h1>
<table class="table">
  <thead>
    <td>
      Email
    </td>
    <td>
      Actions
    </td>
  </thead>
  <tbody>
    <% @users.each do |u| %>
      <tr>
        <td><%= link_to u.email, profile_path(u) %></td>
        <td>
          <%= form_for [:admin, u] do |f| %>
            <%= f.hidden_field :is_admin, value: !u.is_admin %>
            <%= f.submit (u.is_admin ? "Revoke Admin" : "Make Admin") %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>