<div class="page-header">
  <h1>Features</h1>
</div>

<div class="container">

  <% if current_user.nil? %>
    <%= link_to "Register Now to Start Sharing", 
                new_user_registration_path, 
                class: 'btn btn-success' %>
  <% end %>

  <% if @current_feature_identifiers.length %>
    <h3>Enabled Features</h3>
    <p>You currently have the following features enabled:</p>
    <ul>
      <% @features.each do |feature| %>
        <% if @current_feature_identifiers.include?(feature.identifier) %>
          <li><%= feature.name %> (<%= link_to "Disable", disable_feature_path(feature.id), method: :post %>)</li>
        <% end %>
      <% end %>
    </ul>
  <% end %>

  <% if @grace_feature_identifiers.length %>
    <h3>Features in Grace Period</h3>
    <p>You currently have the following features in their grace period:</p>
    <ul>
      <% @features.each do |feature| %>
        <% if @grace_feature_identifiers.include?(feature.identifier) %>
          <li><%= feature.name %> (<%= link_to "Re-Enable", reenable_feature_path(feature.id), method: :post %>) </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>


  <% if @enabled_feature_identifiers.length < @features.length %>
    <h3>Available Features</h3>
    <div class="features">
      <% @features.each do |feature| %>
        <% unless @enabled_feature_identifiers.include?(feature.identifier) %>
          <div class="feature">
            <div class="title">
              <%= link_to feature.name, feature_path(feature) %>
            </div>
            <div class="description">
              <%= markdown(feature.description) %>        
            </div>
            <% if current_user %>
              <div class="purchase">
                <%= link_to "ENABLE", enable_feature_path(feature.id), method: :post, class: 'btn btn-success' %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>    
    </div>
  <% end %>

</div>