<div class="page-header">
  <h1><%= @feature.name %></h1>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= markdown(@feature.description) %>        
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= link_to "&larr; Back".html_safe, features_path, :class => 'btn btn-default' %>
  </div>
</div>