
<footer>
  <div class="container-fluid">
    <div class="row">
      <div class='col-xs-12 col-lg-6'>

        <!-- Start Newsletter Signup -->
        <div class='sm-marketing-footer-newsletter-form'>

          <form id='sm-marketing-footer-newsletter-form' class='col-xs-12 pull-left'>

            <h6 class="newsletter">Sign up for our newsletter</h6>

            <div class='sm-marketing-newsletter-input-group sm-flex'>
              <input name='email' type='text' class='sm-marketing-field-text-input' placeholder='Enter email address' value='' />
              <button type='submit' class='sm-marketing-button sm-marketing-button-dark-gray' disabled>
                <span class='sm-marketing-newsletter-button-text'>
                  Sign Up
                </span>
                <span class='sm-progress-spinner'></span>
              </button>
            </div>

            <div class='sm-marketing-newsletter-success'>
              Thank you! Keep an eye on your inbox for exciting&nbsp;announcements.
            </div>


          </form>
        </div>
        <!-- End Newsletter Signup -->

        <!-- Start Footer Social Links -->
        <div class='sm-marketing-footer-social'>
          <ul class='social'>
            <li>
              <a  href="http://www.facebook.com/" target="_blank" >
                <i class="fa fa-facebook-official" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a  href="http://twitter.com/">
              </a>
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </li>
            <li>
              <a  href="http://www.instagram.com/" target="_blank" >
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a  href="http://www.youtube.com/" target="_blank" >
                <i class="fa fa-youtube" aria-hidden="true"></i>
              </a>
            </li>

          </ul>
        </div>

        <div class="col-xs-12">
          <div class="canada">
            <i class="icon-canada" id="flag">
            </i>
            <small>product of canada</small>
          </div>
        </div>

      </div>

      <div class='col-xs-12 col-lg-6 footer-navigation'>
    <!--    <div class='col-xs-2'>
          <h6>
            Apps
          </h6>
          <nav>
            <ul class='sm-marketing-footer-links'>
              <li>
                <a class="sm-link-tracking" href="https://itunes.apple.com/us/app//id364894061?mt=8" target="_blank" data-link-tracking-category="Marketing Page" data-link-tracking-action="Navigation Click" data-link-tracking-label="iOS" data-link-tracking-contexts="[{&quot;schema&quot;:&quot;iglu:com.\/screen\/jsonschema\/1-0-0&quot;,&quot;data&quot;:{&quot;section_name&quot;:&quot;Footer&quot;}}]">iOS</a>
              </li>
              <li>
                <a class="sm-link-tracking" href="https://play.google.com/store/apps/details?id=com.snapwood.smugfolio&hl=en" target="_blank" data-link-tracking-category="Marketing Page" data-link-tracking-action="Navigation Click" data-link-tracking-label="Android" data-link-tracking-contexts="[{&quot;schema&quot;:&quot;iglu:com.\/screen\/jsonschema\/1-0-0&quot;,&quot;data&quot;:{&quot;section_name&quot;:&quot;Footer&quot;}}]">Android</a>
              </li>
              <li>
                <a class="sm-link-tracking" href="http://help..com/customer/portal/articles/1491124-how-do-i-upload-from-lightroom" target="_blank" data-link-tracking-category="Marketing Page" data-link-tracking-action="Navigation Click" data-link-tracking-label="Lightroom" data-link-tracking-contexts="[{&quot;schema&quot;:&quot;iglu:com.\/screen\/jsonschema\/1-0-0&quot;,&quot;data&quot;:{&quot;section_name&quot;:&quot;Footer&quot;}}]">Lightroom</a>
              </li>
            </ul>
          </nav>
        </div>
-->
        <div class='col-xs-3'>
          <h6>
            Community
          </h6>
          <nav>
            <ul class='sm-marketing-footer-links'>
<!--
              <li>
                <a class="sm-link-tracking" href="http://news..com" target="_blank" data-link-tracking-category="Marketing Page" data-link-tracking-action="Navigation Click" data-link-tracking-label="Blog" data-link-tracking-contexts="[{&quot;schema&quot;:&quot;iglu:com.\/screen\/jsonschema\/1-0-0&quot;,&quot;data&quot;:{&quot;section_name&quot;:&quot;Footer&quot;}}]">Blog</a>
              </li>
              <li>
                <a class="sm-link-tracking" href="/about/events" data-link-tracking-category="Marketing Page" data-link-tracking-action="Navigation Click" data-link-tracking-label="Events" data-link-tracking-contexts="[{&quot;schema&quot;:&quot;iglu:com.\/screen\/jsonschema\/1-0-0&quot;,&quot;data&quot;:{&quot;section_name&quot;:&quot;Footer&quot;}}]">Events</a>
              </li>
-->
              <li>
                <a class="sm-link-tracking" href="http://dgrin.com" target="_blank" data-link-tracking-category="Marketing Page" data-link-tracking-action="Navigation Click" data-link-tracking-label="Forum" data-link-tracking-contexts="[{&quot;schema&quot;:&quot;iglu:com.\/screen\/jsonschema\/1-0-0&quot;,&quot;data&quot;:{&quot;section_name&quot;:&quot;Footer&quot;}}]">Forum</a>
              </li>
            </ul>
          </nav>
        </div>            <!-- End Footer Nav Column Community -->

        <!-- Start Footer Nav Column Company -->

        <div class='col-xs-3'>
          <h6>
            Company
          </h6>
          <nav>
            <ul class='sm-marketing-footer-links'>
              <li>
                <a class="sm-link-tracking" href="/about">About</a>
              </li>
              <li>
                <a class="sm-link-tracking" href="/jobs" >Jobs</a>
              </li>
              <li>
                <a class="sm-link-tracking" href="/reseller">Partner Program</a>
              </li>
            <li><a  class="sm-link-tracking" href="/awesome">What makes us awesome?</a></li>

            </ul>
          </nav>
        </div>

        <div class='col-xs-3'>
          <h6>
            Product
          </h6>
          <nav>
            <ul class='sm-marketing-footer-links'>

<!--
              <li>
                <a class="sm-link-tracking" href="/stories/brent-gilmore" data-link-tracking-category="Marketing Page" data-link-tracking-action="Navigation Click" data-link-tracking-label="Stories" data-link-tracking-contexts="[{&quot;schema&quot;:&quot;iglu:com.\/screen\/jsonschema\/1-0-0&quot;,&quot;data&quot;:{&quot;section_name&quot;:&quot;Footer&quot;}}]">Stories</a>
              </li>
              <li>
                <a class="sm-link-tracking" href="/features/photo-website" data-link-tracking-category="Marketing Page" data-link-tracking-action="Navigation Click" data-link-tracking-label="Features" data-link-tracking-contexts="[{&quot;schema&quot;:&quot;iglu:com.\/screen\/jsonschema\/1-0-0&quot;,&quot;data&quot;:{&quot;section_name&quot;:&quot;Footer&quot;}}]">Features</a>
              </li>
            -->
              <li>
                <a class="sm-link-tracking" href="/plans">Cost</a>
              </li>

            </ul>
          </nav>
        </div>            <!-- End Footer Nav Column Product -->

        <!-- Start Footer Nav Column Support -->

        <div class='col-xs-3'>
          <h6>
            Support
          </h6>
          <nav>
            <ul class='sm-marketing-footer-links'>
              <li>
                <a class="sm-link-tracking" href="/forum" >Support Forum</a>
               </li>
                <li>
                  <a class="sm-link-tracking" href="/help">Call for help!</a>
                               </li>
                  <li>
                    <a class="sm-link-tracking" href="/feedback" >Feedback</a>
                        </li>
<!--
                    <li>
                      <a class="sm-link-tracking" href="/tutorials">Video Tutorials</a>
                    </li>
                  -->
                    <li>
                      <a class="sm-link-tracking" href="/about/terms" target="_blank">Terms</a>
                    </li>
                    <li>
                      <a class="sm-link-tracking" href="/about/privacy">Privacy</a>
                    </li>
                  </ul>
                </nav>
              </div>            <!-- End Footer Nav Column Support -->


              <!-- End Footer Navigation -->
            </div>
          </div>



          <div class="row bottom-footer">
            <div class="col-xs-4 trademark">
              <a href="http://www.altama.ca"><%= Date.today.year %> Altama Systems Inc.</a>
            </div>
            <div class="col-xs-4 bottommost-nav">
              <span>
                London, Ontario, Canada
              </span>
              <span>
                (778) 801-7936
              </span>
              <a href="#">
                Employee Login
              </a>
              <a href="#">
                Sitemap
              </a>
              <a href="#">
                Release Log
              </a>
            </div>
            <div class="col-xs-4 pull-right quote">
              <h3>Share your knowledge, it’s a way to achieve immortality.<br>
                <span class="light">~ Dalai Lama</span></h3>
              </div>
            </div>
          </div>
        </footer>
