<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to root_path, class: 'navbar-brand' do %>
          <img alt="brand" src="<%= image_path('logo-400px.png') %>">Albumshare
        <% end %>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a class="" href="/about">About</a></li>
          <li><a class="" href="/">Example Album</a></li>
          <li><a class="" href="/cost">Cost</a></li>
            <li><a class="" href="/awesome">What makes us awesome?</a></li>
          <li><a class="" href="/contact">Contact</a></li>
          <% if current_user&.is_admin %>
            <li><%= link_to "ADMIN", admin_root_path %></li>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to "Hello, #{current_user.email}", profile_path(current_user) %></li>

            <% if current_user.dropbox_session.blank? && current_user.google_oauth2_uid.blank? %>
            <li><%= link_to "Connect Cloud Storage", dropbox_authorize_path %></li>
            <% end%>

            <!--<% if current_user.google_oauth2_uid.blank? %>-->
              <!--<li><%= link_to "Connect Google Account", user_google_oauth2_omniauth_authorize_path %></li>-->
            <!--<% end %>-->
            <% if current_user.google_token.blank? %>
              <li><%= link_to "Connect Google Account", google_drive_authorize_path %></li>
            <% end %>

            <% if !current_user.google_token.blank? | !current_user.dropbox_session.blank? %>
              <li><%= link_to "Albums", albums_path %></li>
            <% end %>

            <li><%= link_to "Logout", destroy_user_session_path, method: :delete, class: '' %></li>
          <% else %>
            <li><%= link_to "Login", new_user_session_path, class: 'login' %></li>
            <li><%= link_to "Share Photos", new_user_registration_path, class: 'register' %></li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</header>
