<!DOCTYPE html>
<html>
  <head>
    <title>Albumshare - Share your Dropbox &amp; Drive photos with privacy.</title>
    <%= csrf_meta_tags %>
    <script src="https://use.fontawesome.com/645896d9c5.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <link rel="shortcut icon" href="<%= image_path('logo-400px.png') %>" type="image/x-icon">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= tag :meta, :name => "stripe-key", :content => ENV['STRIPE_PUBLISHABLE_KEY'] %>
    <%= yield(:custom_css) %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= yield(:custom_header) %>
    
    <% if notice.present? %><p class="alert notice"><%= notice %></p><% end %>
    <% if alert.present? %><p class="alert"><%= alert %></p><% end %>
    
    <%= yield %>
    
    <%= render 'layouts/footer' %>
  </body>

</html>
